<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="static/style.css">
</head>

<body>
    <form action="/user_signup" method="post">
        <div>
            <label><h1>Sign Up</h1></label>
                <div class="textlabels">
                <label for="username">Username</label>
                <input id="username" type="text" name="username"/>
                <span class="error">{{username}}</span >
                <br>
                <label for="password">Password</label>
                <input id="password" type="password" name="password"/>
                <span class="error">{{password}}</span >
                <br>
                <label for="verify_password">Verify Password</label>
                <input id="verify_password" type="password" placeholder="Passwords must match" name="verify_password"/>
                <span class="error">{{verify_password}}</span >
                <br>
                <label for="email">Email(optional)</label>
                <input id="email" type="text" placeholder="Example: hello@gmail.com" name="email" />
                <span class="error">{{email}}</span >
                <br>
                </div>
        </div>
        <input class="submit" type="submit"  value="Submit"/>
        
    </form>
</body>
</html>